<!-- <h1>{{ $ctrl.posts[0].imageURL }}</h1> -->
      <!-- Just added redditClone name -->
      <form name="redditClone"
      ng-submit="$ctrl.createPost()">


        <label ng-class="{wrong: redditClone.title.$invalid}">Title</label>
        <input id="title" type="text" name="title" class="form-control" placeholder="Please enter your postname"
          ng-model="$ctrl.post.title"
          ng-minlength="5"
          ng-maxlength="20"
          required>

          <!-- ngMessages - Title -->

          <div class="help-block"
            ng-messages="redditClone.title.$error"
            ng-show="redditClone.title.$touched">
            <div ng-messages-include="titleErrors.html"></div>
          </div>


        <label>Author</label>
        <input id="author" type="text" name="author" class="form-control" placeholder="Please enter your author"
          ng-model="$ctrl.post.author"
          ng-minlength="5"
          ng-maxlength="20"
          required>

          <!-- ngMessages - Author -->
        <div class="help-block"
          ng-messages="redditClone.author.$error"
          ng-show="redditClone.author.$touched">
          <div ng-messages-include="authorErrors.html"></div>
        </div>

        <label>ImageURL</label>
        <input id="imageURL" type="url" name="imageURL" class="form-control" placeholder="Please enter your imageURL"
          ng-model="$ctrl.post.imageURL"
          ng-minlength="5"
          ng-maxlength="20"
          required>

          <!-- ngMessages - imageURL -->
        <div class="help-block"
        ng-messages="redditClone.imageURL.$error"
        ng-show="redditClone.imageURL.$touched">
          <div ng-messages-include="imageURLErrors.html"></div>

        </div>

        <label>Description</label>
        <textarea id="description" type="textarea" name="description" class="form-control" placeholder="Please enter your description"
          ng-model="$ctrl.post.description"
          ng-minlength="10"
          ng-maxlength="500"
          required></textarea>

          <!-- ngMessages - Description -->
        <div class="help-block"
        ng-messages="redditClone.description.$error"
        ng-show="redditClone.description.$touched">
        <div ng-messages-include="descriptionErrors.html"></div>

        </div>

        <br>

        <button class="btn btn-success" type="submit"
         ng-submit="$ctrl.createPost()">Create Post</button>

      </form>

      <br>

      <!-- Posts & Comments - Separate these out into a separate view later: uiRouter or the like -->

      <div
      ng-repeat="post in $ctrl.posts">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" ng-src="{{post.imageURL}}" style="height: 50px; width: 50px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{post.title}} by {{post.author}}</h4>
            <p>{{post.description}}</p>
          </div>
          <div class="comments">

            <hr>

            <button type="button" class="btn" name="button"
            ng-click="$ctrl.showCommentTextArea(post)">Post a comment</button>

            <br><br>
            <div class="container"
            ng-show='post.toggleCommentArea'>


              <!-- Submitting the comment form -->
              <!-- <form name="redditClone"
              ng-submit="$ctrl.createPost()"> -->


              <form class="form-group"
              ng-submit="$ctrl.createComment()">


                <label>Name:</label>
                <input name="author"
                ng-model="$ctrl.post.newComment.author"
                ng-show='post.toggleCommentArea'>

                <br>

                <!-- Have the textare expand when the button is clicked: ngClick -->
                <label>Comment:</label>
                <textarea name="comment" rows="4" cols="80"
                ng-model="$ctrl.post.newComment.comment"
                ng-show='post.toggleCommentArea'></textarea>

                <!-- Comment Area - Should only show when there are comments present -->
                <div class="panel panel-default"
                ng-show="post.toggleCommentPostArea">
                  <div class="panel-heading">Panel heading without title</div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>

                <button class="btn btn-success" type="submit"
                ng-click="$ctrl.submitComment(post)">Submit</button>

                <button class="btn btn-danger" type="button" name="button"
                ng-click="$ctrl.cancelPost()">Cancel</button>
              <hr>
              </form>
            </div>
          </div>
        </div>
      </div>
